
<form [formGroup]="createAtelierForm" (ngSubmit)="onSubmit()">

  <mat-form-field  appearance="fill">
    <mat-label>Date</mat-label>
    <input matInput [ngxMatDatetimePicker]="picker" formControlName="date">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <ngx-mat-datetime-picker #picker [showSpinners]="true" [showSeconds]="false"
                             [stepHour]="1" [stepMinute]="1" [stepSecond]="1"
                             [touchUi]="mobile" color="#0066CC" [enableMeridian]="true"
                             [disableMinute]="false" [hideTime]="false">
    </ngx-mat-datetime-picker>
  </mat-form-field>
  <mat-error *ngIf="this.date.invalid && this.date.dirty || this.date.touched && this.date.errors?.required">
    Date et heure obligatoire
  </mat-error>

  <button mat-raised-button color="primary" type="submit">Valider</button>

</form>
