
  <mat-form-field  appearance="fill">
    <mat-label>Date</mat-label>
    <input name="date" [(ngModel)]="atelier.date" matInput [ngxMatDatetimePicker]="picker">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <ngx-mat-datetime-picker #picker [showSpinners]="true" [showSeconds]="false"
                             [stepHour]="1" [stepMinute]="1" [stepSecond]="1"
                             [touchUi]="mobile" color="#0066CC" [enableMeridian]="true"
                             [disableMinute]="false" [hideTime]="false">
    </ngx-mat-datetime-picker>
  </mat-form-field>

  <mat-form-field  appearance="fill">
    <mat-label>Commentaire</mat-label>
    <input type="text" name="title" [(ngModel)]="atelier.comment" matInput>
  </mat-form-field>


  <button mat-raised-button color="primary" (click)="onSubmit()">Valider</button>

