<router-outlet></router-outlet>

<footer>
  <div class="container" fxLayout="row wrap" fxLayoutGap="5%" fxLayoutAlign="left">
    <div class="footer-col" fxFlex.gt-md="30%" fxFlex.gt-xs="100%">
      <h3>Contact</h3>
      <br>
      Mail : <a href="mailto:contact@rencontres-contemporaines.com">contact@rencontres-contemporaines.com</a><br><br>
      Téléphone :<br>
      <a href="tel:+33478648260">04 78 64 82 60</a><br>
      <a href="tel:+330622622060">06 22 62 20 60</a><br>
      <a href="tel:+330676969706">06 76 96 97 06</a><br>
    </div>
    <div class="footer-col" fxFlex.gt-md="30%" fxLayoutWrap fxFlex.gt-xs="100%">
      <h3>Réseaux sociaux</h3>
      <a href="https://www.facebook.com/rencontrescontemporaines/?ref=br_rs">
        <img src="/assets/images/facebook.png" alt="facebook" class="rs-icon">
      </a>
    </div>
    <div class="footer-col" fxFlex.gt-md="30%" fxFlex.gt-xs="100%">
      <h3>A propos</h3>
      Développé et maintenu par <a href="https://arsenelapostolet.fr">Arsène Lapostolet</a><br><br>
      Construit avec :<br><br>
      <img class="tech-icon" src="https://angular.io/assets/images/logos/angular/angular.png"/>
      <img class="tech-icon" src="https://www.stickpng.com/assets/images/58482a6bcef1014c0b5e4a14.png"/>
      <img class="tech-icon" src="https://cdn4.iconfinder.com/data/icons/google-i-o-2016/512/google_firebase-2-512.png">
    </div>
  </div>
</footer>
