<router-outlet></router-outlet>

<footer>
  <div class="container" fxLayout="row wrap" fxLayoutGap="5%" fxLayoutAlign="left">
    <div class="footer-col" fxFlex.gt-md="30%" fxFlex.gt-xs="100%">
      <h3>Réseaux sociaux</h3>
      <a href="https://www.facebook.com/rencontrescontemporaines/?ref=br_rs">
        <img src="/assets/images/facebook.png" alt="facebook" class="rs-icon">
      </a>
    </div>
    <div class="footer-col" fxFlex.gt-md="30%" fxLayoutWrap fxFlex.gt-xs="100%">

    </div>
    <div class="footer-col" fxFlex.gt-md="30%" fxFlex.gt-xs="100%">
      <h3>A propos</h3>
      Développé et maintenu par <a href="https://arsenelapostolet.fr">Arsène Lapostolet</a><br><br>
      Construit avec :<br><br>
      <img class="tech-icon" src="https://angular.io/assets/images/logos/angular/angular.png"/>
      <img class="tech-icon" src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d7/WebStorm.png/1200px-WebStorm.png"/>
    </div>
  </div>
</footer>
