<h2>Nouveau concert</h2>

<form [formGroup]="createConcertForm" (ngSubmit)="onSubmit()">

  <mat-form-field  appearance="fill">
    <mat-label>Titre</mat-label>
    <input matInput formControlName="title">
  </mat-form-field>
  <mat-error *ngIf="this.title.invalid && title.dirty || title.touched && title.errors?.required">
    Titre obligatoire
  </mat-error>

  <mat-form-field  appearance="fill">
    <mat-label>Date</mat-label>
    <input matInput [ngxMatDatetimePicker]="picker" formControlName="dateTime">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <ngx-mat-datetime-picker #picker [showSpinners]="true" [showSeconds]="false"
                             [stepHour]="1" [stepMinute]="1" [stepSecond]="1"
                             [touchUi]="mobile" color="#0066CC" [enableMeridian]="true"
                             [disableMinute]="false" [hideTime]="false">
    </ngx-mat-datetime-picker>
  </mat-form-field>
  <mat-error *ngIf="this.dateTime.invalid && this.dateTime.dirty || this.dateTime.touched && this.dateTime.errors?.required">
    Date et heure obligatoire
  </mat-error>


  <mat-form-field  appearance="fill">
    <mat-label>Emplacement</mat-label>
    <input matInput formControlName="location">
  </mat-form-field>
  <mat-error *ngIf="this.location.invalid && this.location.dirty || this.location.touched && this.location.errors?.required">
    Lieu obligatoire
  </mat-error>

  <mat-form-field  appearance="fill">
    <mat-label>Artiste</mat-label>
    <input matInput formControlName="artist">
  </mat-form-field>
  <mat-error *ngIf="this.artist.invalid && this.artist.dirty || this.artist.touched && this.artist.errors?.required">
    Artiste obligatoire
  </mat-error>

  <mat-form-field  appearance="fill">
    <mat-label>Description</mat-label>
    <textarea matInput
              cdkTextareaAutosize
              #autosize="cdkTextareaAutosize"
              cdkAutosizeMinRows="3"
              cdkAutosizeMaxRows="10"
              formControlName="description"
    ></textarea>
  </mat-form-field>
  <mat-error *ngIf="this.description.invalid && this.description.dirty || this.description.touched && this.description.errors?.required">
    Description obligatoire
  </mat-error>


  <mat-label>Image</mat-label>
  <input type="file" formControlName="image" (change)="onImageFileChange($event.target.files)">
  <mat-error *ngIf="this.image.invalid && this.image.dirty || this.image.touched && this.image.errors?.required">
    Description obligatoire
  </mat-error>

  <mat-label>Flyer</mat-label>
  <input type="file" formControlName="flyer" (change)="onFlyerFileChange($event.target.files)">

  <br>
  <br>

  <button *ngIf="!loading" mat-raised-button color="primary" type="submit">Valider</button>
  <mat-spinner *ngIf="loading" diameter="16"></mat-spinner>
</form>
