<mat-toolbar color="primary" class="main-menu">
  <span>Rencontres Contemporaines</span>
  <span class="spacer"></span>
  <div fxShow="true" fxHide.lt-md="true">
    <button mat-button (click)="header.scrollIntoView({behavior: 'smooth'})">Accueil</button>
    <button mat-button (click)="intro.scrollIntoView({behavior: 'smooth'})">A propos</button>
    <button mat-button (click)="concerts.scrollIntoView({behavior: 'smooth'})">Concerts</button>
    <button mat-button (click)="ateliers.scrollIntoView({behavior: 'smooth'})">Ateliers d'écoute</button>
    <button mat-button (click)="enpratique.scrollIntoView({behavior: 'smooth'})">En pratique</button>
    <!--<button mat-button>Fils rouges</button>-->
    <button mat-button (click)="partenaires.scrollIntoView({behavior: 'smooth'})">Partenaires et soutiens</button>

    <div fxShow="true" fxHide.gt-sm="true">
      <a href="#" (click)="sidenav.toggle()">Show Side Menu</a>
    </div>
  </div>
</mat-toolbar>
<mat-sidenav-container fxFlexFill class="example-container">
  <mat-sidenav #sidenav fxLayout="column" mode="side" opened="false">
    <div fxLayout="column" fxShow="true" fxHide.gt-sm="true">
      <a (click)="sidenav.toggle()" href="#" mat-button>Close</a>
      <button mat-button (click)="header.scrollIntoView({behavior: 'smooth'})">Accueil</button>
      <button mat-button (click)="intro.scrollIntoView({behavior: 'smooth'})">A propos</button>
      <button mat-button (click)="concerts.scrollIntoView({behavior: 'smooth'})">Concerts</button>
      <button mat-button (click)="ateliers.scrollIntoView({behavior: 'smooth'})">Ateliers d'écoute</button>
      <button mat-button (click)="enpratique.scrollIntoView({behavior: 'smooth'})">En pratique</button>
      <button mat-button (click)="partenaires.scrollIntoView({behavior: 'smooth'})">Partenaires et soutiens</button>
    </div>
  </mat-sidenav>
  <mat-sidenav-content fxFlexFill> Rencontres Contemporaines</mat-sidenav-content>
</mat-sidenav-container>


<header #header fxLayout="column wrap" fxLayoutAlign="center center">
  <div>
    <img class="logo" (click)="showLoginDialog()" src="/assets/images/logo.jpg" alt="logo rc"/>
  </div>

  <div>
    <p class="title">
      Parcours-découverte de la musique XX°
      et XXI°, créations, reprises, dialogue entre classiques et oeuvres nouvelles.
    </p>
  </div>
  <div fxLayout="row wrap" fxLayoutAlign.gt-md="start center" class="info">

    <div class="info-icon-wrapper">
      <mat-icon class="info-icon">info</mat-icon>
    </div>

    <div>
      <p>
        <p class="font-italic">Janvier 2021</p> 
        L’équipe des Rencontres dessine sa saison prochaine : resserre les liens avec les artistes, 
        les programmes se peaufinent, les répétitions sont prometteuses, une création est lancée, des lieux nouveaux  s’annoncent, prêts à nous accueillir . 
        Il ne nous reste plus qu’à vous dévoiler dès que possible les dates de nos retrouvailles !

      </p>
    </div>
  </div>
</header>
<section #intro class="intro">

  <div class="section-title">Les Rencontres Contemporaines ?</div>

  <div class="about">
    Portées par l’association Lien-Création, Les Rencontres Contemporaines vous invitent à découvrir et partager la
    musique de notre époque. Pour ce faire, elles programment des concerts, ateliers et rencontres. Elles suscitent de
    nouvelles œuvres, passant régulièrement commande aux compositeurs.<br><br>
    La petite équipe des Rencontres Contemporaines travaille particulièrement la façon d’accueillir les artistes et
    le public, soucieuse d’une qualité d’échange et de rencontre. Elle est aussi fidèle à des artistes dont elle
    suit le travail et les créations dans la durée, ainsi qu’à des lieux.<br><br>

    A Lyon, un lieu de résidence est mis à disposition au siège lyonnais de l’association Lien-Création. Depuis 10
    ans, ce lieu est ouvert à l’ensemble "Les Six voix Solistes” de Résonance Contemporaine et souvent aussi à
    d’autres artistes pour répéter, expérimenter, voire pour présenter des recherches en cours.
  </div>
</section>
<section #concerts class="concerts">

  <app-concerts [logged]="logged" ></app-concerts>

</section>
<section #ateliers class="ateliers">

  <div class="section-title">Ateliers d'écoute
  </div>
  <span>par Philippe Gouttenoire, compositeur, « dégustation musicale » tout public (=savant ou ignorant !)</span>
  <br><br><br><br>
  <div fxLayout="row wrap" fxLayoutGap="5%" fxLayoutAlign="left">
    <div fxFlex.gt-md="70%" fxFlex.gt-sm="100%">
      <h3>Des ateliers d'écoute ?</h3>
      <p>Toujours menés par des compositeurs,

        les ateliers proposent une écoute en profondeur.

        Ils furent inaugurés par Robert Pascal il y a quelques années,

        Christine Mennesson prit le relais en 2014,

        puis Philippe Gouttenoire en 2015, 2016, 2017, 2018, 2019</p>
      <p>
        Invités 2020: Bach, cette fois sur le concept du temps, en janvier ; puis avril fut annulé ;
        les suivants ? inconnus encore, la surprise étant un principe de base des ateliers.
        ceux de 2019 furent Gesualdo, Scriabine, Brahms et Webern.
        Et avant ? Monteverdi, Debussy, Chopin, Bartok, Mozart,
        Ravel, Bach, Dutilleux, Mahler, Schubert, Berg, Debussy encore, Beethoven, Stravinski
      </p>
      <p>

        Venez et parlez-en autour de vous. Rendez vous au siège lyonnais des Rencontres Contemporaines, 4 place
        Chazette, 69001 Lyon
        Les inscriptions se prennent par sms ou message au <a href="tel:+330670429832">06 70 42 98 32</a> ou au <a
        href="+330622622060">06 22 62 20 60</a>

        Vous pouvez aussi venir directement, il y aura toujours une chaise pour vous !

        NB - Nous avons un matériel d’écoute digne de vos oreilles
      </p>

      <p>
        La participation est fixée à 10 € la séance, gratuit pour les étudiants
      </p>

    </div>
    <div fxFlex.gt-md="25%" fxFlex.gt-sm="100%">

      <app-ateliers [logged]="logged"></app-ateliers>

    </div>
  </div>
</section>
<section #enpratique class="enpratique">
  <div class="section-title">En pratique
  </div>
  <h2>Tarifs : </h2>
  <div fxLayout="row wrap" fxLayoutGap.gt-md="10%" fxLayoutGap.xs="0" fxLayout.gt-xs="100%" fxLayoutAlign="center">

    <mat-card fxFlex.gt-md="30%" fxFlex.xs="100%" class="article">
      <mat-card-title class="inline-icon"><span>Plein Tarif &nbsp;</span>
        <mat-icon>credit_card</mat-icon>
      </mat-card-title>
      <mat-card-subtitle>
        &nbsp;
      </mat-card-subtitle>

      <mat-card-content fxLayout="column" fxLayoutAlign="center center">
        <span class="tarif-text">12€</span>
      </mat-card-content>
    </mat-card>

    <mat-card fxFlex.gt-md="30%" fxFlex.xs="100%" class="article">
      <mat-card-title class="inline-icon">
        <span>Tarif réduit &nbsp;</span>
        <mat-icon>toll</mat-icon>
      </mat-card-title>
      <mat-card-subtitle>
        Adulte avec enfant, étudiant, chomeur
      </mat-card-subtitle>

      <mat-card-content fxLayout="column" fxLayoutAlign="center center">
        <span class="tarif-text">7€</span>
      </mat-card-content>
    </mat-card>

    <mat-card fxFlex.gt-md="30%" fxFlex.xs="100%" class="article">
      <mat-card-title class="inline-icon">
        <span>Gratuit &nbsp;</span>
        <mat-icon>redeem</mat-icon>
      </mat-card-title>
      <mat-card-subtitle>
        Moins de 15 ans
      </mat-card-subtitle>

      <mat-card-content fxLayout="column" fxLayoutAlign="center center">
        <span class="tarif-text">0€</span>
      </mat-card-content>
    </mat-card>


  </div>

  <h2>Tarifs spécifiques à certain lieux : </h2>
  <div fxLayout="row wrap" fxLayoutGap.gt-md="10%" fxLayoutGap.xs="0" fxLayout.gt-xs="100%" fxLayoutAlign="center">

    <mat-card fxFlex.gt-md="30%" fxFlex.xs="100%" class="article">
      <mat-card-title class="inline-icon"><span>A l'hôpital</span>
      </mat-card-title>
      <mat-card-subtitle>
        &nbsp;
      </mat-card-subtitle>

      <mat-card-content fxLayout="column" fxLayoutAlign="center center">
        <span class="tarif-text">Libre PAF</span>
      </mat-card-content>
    </mat-card>

    <mat-card fxFlex.gt-md="30%" fxFlex.xs="100%" class="article">
      <mat-card-title class="inline-icon">
        <span>Au lavoir &nbsp;</span>
      </mat-card-title>
      <mat-card-subtitle>
          Plein Tarif & Tarif Réduit
      </mat-card-subtitle>

      <mat-card-content fxLayout="column" fxLayoutAlign="center center">
        <span class="tarif-text">10€ & 8€</span>
      </mat-card-content>
    </mat-card>

    <mat-card fxFlex.gt-md="30%" fxFlex.xs="100%" class="article">
      <mat-card-title class="inline-icon">
        <span>Atelier &nbsp;</span>
      </mat-card-title>
      <mat-card-subtitle>
        Gratuit pour les étudiants
      </mat-card-subtitle>

      <mat-card-content fxLayout="column" fxLayoutAlign="center center">
        <span class="tarif-text">10€</span>
      </mat-card-content>
    </mat-card>


  </div>


  <h2>Contact :</h2>

  <div fxLayout="row wrap" fxLayoutGap.gt-md="10%" fxLayoutGap.xs="0" fxLayout.gt-xs="100%" fxLayoutAlign="space-between">

    <mat-card fxFlex.gt-md="40%" fxFlex.xs="100%" class="article email" fxFlex>
      <mat-card-title class="inline-icon"><span>Mail &nbsp;</span>
        <mat-icon>email</mat-icon>
      </mat-card-title>
      <mat-card-subtitle>
        &nbsp;
      </mat-card-subtitle>
      <mat-card-content>
          <span>
            contact@rencontres-contemporaines.com
          </span>
      </mat-card-content>
      <mat-card-actions>
        <a mat-raised-button color="primary" href="mailto:contact@rencontres-contemporaines.com">ECRIRE</a>
      </mat-card-actions>
    </mat-card>

    <mat-card fxFlex.gt-md="40%" fxFlex.xs="100%" class="article phone" fxFlex>
      <mat-card-title class="inline-icon"><span>Téléphone  &nbsp;</span>
        <mat-icon>phone</mat-icon>
      </mat-card-title>
      <mat-card-subtitle>
        &nbsp;
      </mat-card-subtitle>
      <mat-card-content>
        <span>04 78 64 82 60</span><br>
        <span>06 22 62 20 60</span><br>
        <span>Réservations ateliers : 06 70 42 98 32</span><br>
      </mat-card-content>
      <mat-card-actions  fxLayout.gt-md="row" fxLayout.xs="column" fxLayoutGap.xs="10%" fxLayoutAlign="center center">
        <a mat-raised-button color="primary" href="tel:+330478648260">APPEL : 04 78 64 82 60</a>
        <a mat-raised-button color="primary" href="tel:+330622622060">APPEL : 06 22 62 20 60</a>
        <a mat-raised-button color="primary" href="tel:+330670429832">APPEL : 06 70 42 98 32</a>
      </mat-card-actions>
    </mat-card>
  </div>


</section>
<section #partenaires class="partenaires">
  <div class="section-title">Partenaires
  </div>

  <mat-carousel
    timings="250ms ease-in"
    [autoplay]="true"
    interval="5000"
    color="primary"
    proportion="40"
    slides="10"
    [loop]="true"
    [hideArrows]="false"
    [hideIndicators]="false"
    [useKeyboard]="true"
    [useMouseWheel]="false"
    orientation="ltr"
  >
    <mat-carousel-slide
      #matCarouselSlide
      image="/assets/images/conseil-general.png"
      [hideOverlay]="false"
    ></mat-carousel-slide>
    <mat-carousel-slide
      #matCarouselSlide
      image="/assets/images/drac.png"
      [hideOverlay]="false"
    ></mat-carousel-slide>
    <mat-carousel-slide
      #matCarouselSlide
      image="/assets/images/mazet.png"
      [hideOverlay]="false"
    ></mat-carousel-slide>
    <mat-carousel-slide
      #matCarouselSlide
      image="/assets/images/sacem.png"
      [hideOverlay]="false"
    ></mat-carousel-slide>
    <mat-carousel-slide
      #matCarouselSlide
      image="/assets/images/saint-jean-dieu.png"
      [hideOverlay]="false"
    ></mat-carousel-slide>
    <mat-carousel-slide
      #matCarouselSlide
      image="/assets/images/logoSte-Marie.jpg"
      [hideOverlay]="false"
    ></mat-carousel-slide>
    <mat-carousel-slide
      #matCarouselSlide
      image="/assets/images/salabert.png"
      [hideOverlay]="false"
    ></mat-carousel-slide>
    <mat-carousel-slide
      #matCarouselSlide
      image="/assets/images/spedidam.png"
      [hideOverlay]="false"
    ></mat-carousel-slide>
    <mat-carousel-slide
      #matCarouselSlide
      image="/assets/images/chartreux.png"
      [hideOverlay]="false"
    ></mat-carousel-slide>

    <mat-carousel-slide
      #matCarouselSlide
      image="/assets/images/logolavoir.png"
      [hideOverlay]="false"
    ></mat-carousel-slide>

  </mat-carousel>
</section>
