header {
  height: 100vh;
  background-image: url("/assets/images/background.jpg");
  background-attachment: fixed;
  background-position: center;
  background-size: 100%;
  padding-top: 8rem;
}

.spacer {
  flex: 1 1 auto;
}

.main-menu {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  box-shadow: 0 2px 5px black;
  z-index: 10000;
  width: 100vw;
}


.logo {
  width: 20rem;
  border-radius: 3px;
}

:host {
  position: relative;
}

.title {
  font-size: 18px;
  padding: 16px;
  text-align: center;
  background-color: #1a237e;
  color: white;
  border-radius: 3px;
}

.info {
  background-color: #E65100;
  max-width: 40rem;
  text-align: justify;
  color: white;
  border-radius: 3px;
  padding: 1rem;
}

.info-icon {
  font-size: 5rem;
}

.info-icon-wrapper {
  width: 30rem;
}

.section-title {
  padding-bottom: 3vw;
  text-align: center;
  font-size: 60px;
  font-weight: lighter !important;
  width: 100%;
  color: gray;
}

.about {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  text-align: justify;
  line-height: 24px;
}

.intro {
  margin-bottom: 10vh;
}

.concerts {
  background-color: #E3F2FD;
}





.section-actions {
  width: 100%;
  padding: 1.5vw;
}

.section-actions button {
  width: 10vw;
  margin-right: auto;
  margin-left: auto;
  display: block;
}

section {
  padding: 4vw;
}

.ateliers .section-title {
  text-align: left;
  padding-bottom: 0.5vw;
}

.ateliers span {
  font-weight: bold;
  color: #AAA;
  font-size: 16px;
}

p {
  text-align: justify;
}

.concerts {
  background-color: #E3F2FD;
}

.enpratique {
  background-color: #E3F2FD;
}


.tarif-text,.tarif-text-small,.tarif-text-x-small {
  font-weight: lighter !important;
  color: gray;
  font-size: 5rem;
  text-align: center;
}

.tarif-text-small {
  font-size: 3rem !important;
}

.tarif-text-x-small {
  font-size: 1.5rem !important;
}

.tarif-icon {
  font-size: 3rem;
}

.partenaires mat-carousel {
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 75%;
}

a {
  color: #212121;
}

.legend {
  text-align: center;
  font-style: italic;
  width: 100%;
  display: block;
  margin-top: -16px !important;
  font-size: 8px;
}

mat-card {
  padding-bottom: 3vw;
  margin-bottom: 3vw;
}

mat-card img {
  max-height: 20vh;
}

mat-card-actions {
  position: absolute;
  bottom: 24px;
}

.italic {
  font-style: italic;
}

@media screen and (max-width: 768px) {

  .info {
    max-width: 20rem;
  }

  .section-title {
    font-size: 3rem;
  }

  .about {
    width: 100%;
  }

  header {
    padding-top: 0;
  }

  .email {
    height: 10rem;
  }

  .phone {
    height: 15rem;
  }

  .info-icon {
    font-size: 2rem;
  }


}
